<div id="pantsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/Pants/6_Daiwa-Cargo-Quick-Dry-Long-Pants_Grey.jpeg" class="d-block mx-auto" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="images/Pants/68K4923B-34-inch-black-dagan-pants-f-10.jpeg" class="d-block mx-auto" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="images/Pants/Adjustable-Cargo-Pants_Putty-FT-min.webp" class="d-block mx-auto" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="images/Pants/Adjustable-Cargo-Pants_Rust-FT.webp" class="d-block mx-auto" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="images/Pants/TheNorthFaceWomen_sExplorationConvertPantsflax_1200x.webp" class="d-block mx-auto" alt="Slide 2">
      </div>

  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#pantsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#pantsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>