<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">

                <img src="images/Hats/Boy's Green Bucket Hat.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Boy's Bucket Hat -  Green</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R120</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/Girl's Blue Tropical Print Reversible Bucket Hat.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Girl's Tropical Print Reversible Bucket Hat</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R150</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/Girl's Pink Unicorn Print Bucket Hat.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Girl's Unicorn Print Bucket Hat - Pink</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R160</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/Men's Markham Pocket Fatigue Peak Cap.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Pocket Fatigue Peak Cap</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R200</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/Men's Union-DNM Twill 6 Panel Navy Cap.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Union DNM Twill 6 Cap - Navy</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R200</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/MKM Black Moulded Canvas Fedora Hat.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Moulded Canvas Fedora Hat - Black</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R250</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/MKM Panelled Boonie Black Hat.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Panelled Boonie Hat - Black</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R120</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/Nike Unisex Dri-FIT Club Unstructured Metal Swoosh Pink Cap.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Unisex Nike Dri-FIT Club Swoosh Cap - Pink</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R450</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hats/TS 5-panel White Running Cap.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">TS 5-Panel Running Cap - White</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R180</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>