<%- include("partials/header.ejs") %>
<h6 style="text-align: center;"> Shop from the comfort of your home</h6>
<section class="About Us">
    <h3 style="text-align: center;">Featured Categories</h3>
    <p style="text-align: center;">We offer quality secondhand clothing items at good prices</p>
</section>
<hr>

<section class="Featured items">
    <h3 style="text-align: center;">Featured Shirts</h3>
    <%- include("partials/shirtCarousel.ejs") %>
    <h3 style="text-align: center;">Featured Pants</h3>
    <%- include("partials/PantsCarousel.ejs") %>
</section>


<%- include("partials/footer.ejs") %>