<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">

                <img src="images/Hoodies & Sweaters/Full sleeve Stylis cat Print hoodies.webp" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Full Sleeve Stylis Cat Print Hoodie</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R350</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/G-Star Men's Cargo Olive Sweater.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's G-Star Cargo Sweater - Olive</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R450</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Men's Vans Hoodie - Black.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Vans Hoodie - Black</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R500</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Mens First Ascent Black Stormfleece Jacket.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's First Ascent Black Stormfleece Jacket</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R300</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Mens TS Black SA Supporter Hoodie.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's SA Supporter Hoodie - Black</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R350</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Reebok Men's Classics Brand Proud Ecru Hoodie.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Classic Reebok Hoodie</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R450</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Women Hoodies - Grey.jpeg" width="47%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Women's Plain Hoodie -  Grey</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R250</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Women Pink Hoodies.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Women's Stylish Hoodie - Pink</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R270</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Hoodies & Sweaters/Women's TS Borg 1-4 Zip Stone Sweat.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Women's TS Borg Sweater - White</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R120</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>