<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">

                <img src="images/Pants/6_Daiwa-Cargo-Quick-Dry-Long-Pants_Grey.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Daiwa Cargo Quick Dry Long Pants-Grey</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R200</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/0012989_mens-jeans_1024.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Blue Jeans</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R120</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/Men's Grey Acid Wash Ripped Skinny Jeans.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's Grey Acid Wash Ripped Skinny Jeans</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R150</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/Men's TS Dri-Tech Ultra Pace Navy Shorts.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Men's TS Dri-Tech Ultra Pace Navy Shorts</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R70</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/adidas Originals Unisex Youth Camo Tan Shorts.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Adidas Originals Youth Camo Tan Shorts</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R110</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/Adjustable-Cargo-Pants_Putty-FT-min.webp" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Adjustable Cargo Pants Putty</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R200</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/Adjustable-Cargo-Pants_Rust-FT.webp" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Adjustable Cargo Pants Rust</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R200</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/SARA-Tailored-Wide-Leg-Pant.webp" width="43%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">SARA Tailored Wide Leg Pant</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R90</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/Pants/Older Girl's Mid Blue Skinny Jeans.jpeg" width="65%" style="display: block; margin: 0 auto;">
                <div class="card-body">
                  <p class="card-text">Older Girl's Mid Blue Skinny Jeans</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                      <img src="images/shopping-cart.png" width="30px" style="padding-left: 10px;" alt="Shoppingcart image">
                    </div>
                    <small class="text-body-secondary">R80</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>